// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.MuiCollapse-wrapper .MuiListItemIcon-root {
    margin-right: 16px;
}

.MuiButtonBase-root .MuiListItemIcon-root {
    width: 40px;
}

li.RaMenuItemLink-root-36 {
    height: 36px;
}
